<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browser" value="chrome"/>
    <test verbose="2" preserve-order="true" name="D:/Selenium/Pre_Project">
        <classes>
            <class name="Testcases.Railway.TC01">
                <methods>
                    <include name="TC01"/>
                </methods>
            </class>
            <class name="Testcases.Railway.TC02">
                <methods>
                    <include name="TC02"/>
                </methods>
            </class>
            <class name="Testcases.Railway.TC03">
                <methods>
                    <include name="TC03"/>
                </methods>
            </class>
            <class name="Testcases.Railway.TC04">
                <methods>
                    <include name="TC04"/>
                </methods>
            </class>
            <class name="Testcases.Railway.TC05">
                <methods>
                    <include name="TC05"/>
                </methods>
            </class>
            <class name="Testcases.Railway.TC06">
                <methods>
                    <include name="TC06"/>
                </methods>
            </class>
            <class name="Testcases.Railway.TC07">
                <methods>
                    <include name="TC07"/>
                </methods>
            </class>
            <class name="Testcases.Railway.TC08">
                <methods>
                    <include name="TC08"/>
                </methods>
            </class>
            <class name="Testcases.Railway.TC09">
                <methods>
                    <include name="TC09"/>
                </methods>
            </class>
            <class name="Testcases.Railway.TC10">
                <methods>
                    <include name="TC10"/>
                </methods>
            </class>
            <class name="Testcases.Railway.TC11">
                <methods>
                    <include name="TC11"/>
                </methods>
            </class>
            <class name="Testcases.Railway.TC14">
                <methods>
                    <include name="TC14"/>
                </methods>
            </class>
            <class name="Testcases.Railway.TC15">
                <methods>
                    <include name="TC15"/>
                </methods>
            </class>
            <class name="Testcases.Railway.TC16">
                <methods>
                    <include name="TC16"/>
                </methods>
            </class>
            <class name="Testcases.Railway.TC17">
                <methods>
                    <include name="TC17"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>